.btn{
    text-align: center;
}
.btn h1{
    font-size: 2rem;
}
.btn button{
    padding: 0.8rem;
    font-size: 1.6rem;
}
.btn input{
    margin-bottom: 1rem;
    padding: 0.6rem 5rem;
    font-size: 2rem;
}
.button h2{
    font-size: 2rem;
    border-radius: 15px;
    padding: 0.8rem;
    background-color: rgb(205, 233, 28);
    color: black;
    width: 50%;
    margin: auto;

}
.button .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 9, 9);
    color: white;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1rem;
}
.button .box i{
    font-size: 2rem;
    cursor: pointer;
    margin-right: 10px;
}
.button .box h1{
    margin-left: 10px;
}